@mixin cursor__global {
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
#cursor__outer {
    @include cursor__global();
    // height: 6.5rem;
    // width: 6.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.1rem solid rgba(124,124,124,0.4);
    // background-color: rgba(124,124,124,0.3);
    // background-color: rgba(124,124,124,0);
}
#cursor__inner {
    @include cursor__global();
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: rgba(216,216,216,0.45);
}